
button,.btn {
  display: inline-block;
  background-color: transparent;
  color: $light;
  border: 1px solid $light;
  border-radius: $border-radius;
  padding: .25rem 1rem;
  line-height: 2;
  font-size: $font-size-default;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;
  margin: 5px;
  cursor: pointer;
  @include backgroundTransition($light);
  &.btn-primary {
    color: $primary;
    border-color: $primary;
    @include backgroundTransition($primary);
  }
  &.btn-secondary {
    color: $secondary;
    border-color: $secondary;
    @include backgroundTransition($secondary);
  }
  &.btn-success {
    color: $success;
    border-color: $success;
    @include backgroundTransition($success);
  }
  &.btn-info {
    color: $info;
    border-color: $info;
    @include backgroundTransition($info);
  }
  &.btn-warning {
    color: $warning;
    border-color: $warning;
    @include backgroundTransition($warning);
  }
  &.btn-danger {
    color: $danger;
    border-color: $danger;
    @include backgroundTransition($danger);
  }
}
