@import '_mixins';
@import '_animations';

/* Main Style */

:root {
    --main-color: #{$main-color};
    --main-bg: #{$main-bg};
    --primary: #{$primary};
    --secondary: #{$secondary};
    --success: #{$success};
    --info: #{$info};
    --warning: #{$warning};
    --danger: #{$danger};
    --light: #{$light};
    --dark: #{$dark};
    --border-radius: #{$border-radius};
}

body {
    background-color: $main-bg;
    color: $main-color;
    text-align: center;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    height: auto;
    padding-top: 20px;

    form {
        text-align: justify;

        label {
            font-size: 1.1em;
            &:after {
                content: ":";
            }
        }
    }

    a {
        font-weight: bold;
        color: $primary;

        &.router-link-exact-active {
            color: $secondary;
        }
    }

}
