@import '_mixins';
@import '_animations';

/* Main Style */
$screen-width-small: 740px;

:root {
    --primary: #D6B14A;
    --primary-alpha: #D6B14A40;
    --secondary: #1768A4;
    --secondary-alpha: #1768A440;
    --success: #50B97E;
    --success-alpha: #50B97E40;
    --info: #7571C1;
    --info-alpha: #7571C140;
    --warning: #F37E2B;
    --warning-alpha: #F37E2B40;
    --danger: #FF4747;
    --danger-alpha: #FF474740;
    --light: #FFFFFF;
    --dark: #000000;
    --white: #FFFFFF;
    --black: #000000;

    --margin-side: 10px;
    --font-size-default: 1.1rem;
    --font-size-large: 1.2rem;
    --font-size-small: 0.9rem;
    --audio-player-button-size: 80px;
    --audio-player-width: 320px;
    --timeline-slider-track-height: 5px;
    --timeline-slider-track-margin: 15px;
    --timeline-slider-thumb-size: 18px;
    --timeline-slider-thumb-margin: -7px;
}

body {
    margin: 0;
}

#app > div {
    width: 100%;
    background-color: var(--main-bg);
    @include radialGradient(var(--light-bg), var(--main-bg));

    color: var(--main-color);
    text-align: center;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    height: auto;
    padding: 20px var(--margin-side) 10px var(--margin-side);
    box-sizing: border-box;
    font-size: var(--font-size-default);

    h1 {
        color: var(--primary);
    }

    form {
        text-align: justify;
    }
    label {
        font-size: var(--font-size-large);
    }

    .help {
        font-size: var(--font-size-small);
        font-style: italic;
        text-align: justify;
    }

    .selection {
        margin-bottom: 20px;
    }

    .audio-player {
        margin-top: 20px;
    }

    .custom-player-container {
        @include radialGradient(var(--main-bg), var(--secondary));
        outline: 2px solid var(--main-bg);
    }

    .chapter-control-container {
        display: grid;
        grid-template-columns: auto calc(var(--audio-player-width) + 40px) auto;

        @media (width < $screen-width-small) {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            >div:nth-child(1) {
                grid-column: 1;
                grid-row: 2;
            }

            >div:nth-child(2) {
                grid-column: 1 / span 2;
                grid-row: 1;
                margin-bottom: 10px;
            }

            >div:nth-child(3) {
                grid-column: 2;
                grid-row: 2;
            }
        }
    }

    .settings-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (width < $screen-width-small) {
        .settings-container {
            grid-template-columns: 1fr;
        }
    }

    .message-container {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 10;

        .alert {
            margin-right: var(--margin-side);
            margin-left: var(--margin-side);
        }
    }


    @import 'nav';
    @import 'button';
    @import 'alert';
    @import 'select';
    @import 'audioPlayer';


    .enhancedToggle {
        margin: auto;
        &.enhancedCheck-ffon .enhancedToggle-label {
            background-color: var(--secondary);
        }
        &.enhancedCheck-ffoff .enhancedToggle-label {
            background-color: transparent;
        }
        &.enhancedCheck-fflight .enhancedToggle-label {
            background-color: var(--white);
            color: var(--black)
        }
        &.enhancedCheck-ffdark .enhancedToggle-label {
            background-color: var(--black);
            color: var(--xhite)
        }
    }

}
