@import '_mixins';
@import '_animations';

/* Main Style */

:root {
    --main-color: #{$main-color};
    --main-bg: #{$main-bg};
    --primary: #{$primary};
    --secondary: #{$secondary};
    --success: #{$success};
    --info: #{$info};
    --warning: #{$warning};
    --danger: #{$danger};
    --light: #{$light};
    --dark: #{$dark};
    --border-radius: #{$border-radius};
}

body {
    background-color: $main-bg;
    color: $main-color;
    text-align: center;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    height: auto;
    padding: 20px 10px 10px 10px;

    form {
        text-align: justify;

        label {
            font-size: 1.1em;
            &:after {
                content: ":";
            }
        }
    }

    a {
        font-weight: bold;
        color: $primary;

        &.router-link-exact-active {
            color: $secondary;
        }
    }

    .help {
        font-size: 0.8em;
        font-style: italic;
        text-align: justify;
    }

    button,.btn {
        background-color: transparent;
        color: $light;
        border: 1px solid $light;
        border-radius: $border-radius;
        padding: .25rem .75rem;
        text-align: center;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        user-select: none;
        @include backgroundTransition($light);
        &.btn-primary {
            color: $primary;
            border-color: $primary;
            @include backgroundTransition($primary);
        }
        &.btn-secondary {
            color: $secondary;
            border-color: $secondary;
            @include backgroundTransition($secondary);
        }
        &.btn-success {
            color: $success;
            border-color: $success;
            @include backgroundTransition($success);
        }
        &.btn-info {
            color: $info;
            border-color: $info;
            @include backgroundTransition($info);
        }
        &.btn-warning {
            color: $warning;
            border-color: $warning;
            @include backgroundTransition($warning);
        }
        &.btn-danger {
            color: $danger;
            border-color: $danger;
            @include backgroundTransition($danger);
        }
    }

}
