
select {
  appearance: none;

  display: block;
  border: 1px solid var(--primary);
  padding: 0.5rem 4rem 0.5rem 1rem;
  background: url('@/assets/img/caret_down.svg') no-repeat right 0.3rem center / 1.8rem, var(--main-bg-alpha);
  color: var(--light);
  font-size: var(--font-size-default);
  cursor: pointer;
  width: calc(100% - var(--margin-side));
  &:focus {
    outline: none;
  }
  &.empty-select {
    font-style: italic;
    color: rgba(var(--main-color), 0.5);
  }
  option {
    color: var(--main-color);
    background-color: var(--main-bg);
    font-style: normal;
  }
}
