
$main-color: #C5FDFE;
$main-bg: #0F1721;
$light-bg: #4A5A64;

$primary: #D6B14A;
$secondary: #1768A4;
$success: #50B97E;
$info: #2CABD3;
$warning: #F37E2B;
$danger: #FF4747;
$light: #FFFFFF;
$dark: #000000;

$border-radius: 50px;

@import 'common';

body {
  @include radialGradient($light-bg, $main-bg)
}
