
$main-color: #C5FDFE;
$main-bg: #0F1721;
$light-bg: #4A5A64;

$primary: #D6B14A;
$secondary: #1768A4;
$success: #50B97E;
$info: #7571C1;
$warning: #F37E2B;
$danger: #FF4747;
$light: #FFFFFF;
$dark: #000000;

$border-radius: 50px;

@import 'common';

body {
  @include radialGradient($light-bg, $main-bg);

  .message-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;

    .alert {
      margin-right: $margin-side;
      margin-left: $margin-side;
    }
  }

  .content {
    margin-top: 100px;
  }

  nav {
    position: fixed;
    width: 100%;
    top: 10px;
    left: 0;

    >.nav-item {
      // cancel base style
      &:not(:last-child) {
        margin-right: 15px;
        &:after {
          margin-left: 0;
          content: "";
        }
      }
      &:nth-child(1) {
        position: fixed;
        left: $margin-side;
        background: url('@/assets/img/book-white.svg') no-repeat center / 3rem;
      }
      &:nth-child(2) {
        margin: auto;
        a {
          background: url('@/assets/img/logo.png') no-repeat center;
          width: 100px;
          height: 100px;
          line-height: 75px;
        }
      }
      &:nth-child(3) {
        position: fixed;
        right: $margin-side;
        background: url('@/assets/img/cogs-white.svg') no-repeat center / 3rem;
      }

      a {
        display: inline-block;
        text-indent: -9999px;
        width: 80px;
        height: 80px;
        border-radius: 75px;
        line-height: 57px;
        border: 5px solid $secondary;
        &:hover, &:active {
          border-color: $light;
        }
        &:focus {
          border-color: $light;
        }
        &.router-link-exact-active {
          border-color: $primary;
        }
      }

    }

  }
}
